<%- include("layouts/header"); -%>
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
           <h1><%=viewTitle%></h1>
        </div>
      </div>
    </div>
  </div>
</header>
 
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
     
        <form action="/posts/update/<%=post._id%>" method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="<%=post._id%>">
            
            <div class="form-group">
                <label>Post Title</label>
                <input type="text" class="form-control" name="title" value="<%=post.title%>" >
               
            </div>

            <div class="form-group">
                <label>Date Posted on <span style="color:blue"><%=post.createdAt.toDateString()%></span></label>
                <input type="date" class="form-control" name="createdAt" required value="<%=post.createdAt%>" >
               
            </div>
            
             <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" value="<%= post.description %>" >
                    
             </div>

             
                <div class="form-group" >
                  <label>Content</label>
                  
                  <textarea type="text" name="content"  cols="30" rows="10" class="form-control"><%= post.content %></textarea>
                </div>
              
               
            
    
            <div class="form-group">
                <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Update</button>
                <a href="/auth/admin" class="btn btn-danger">
                    <i class="fa fa-list-alt"></i>View All
                </a>
            </div>
    
    
        </form>

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
 
<hr>
<%- include("layouts/footer"); -%>