<%- include("layouts/header"); -%>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>30 Day Challenge</h1>
          <span class="subheading">Join Me In My Tabaka Challenge!</span>
  
        </div>
      </div>
    </div>
  </div>
</header>
 
<!-- Main Content -->
<div class="container">
  <div class="row">
   
    <% if (posts.length > 0) { %>
    <div class="col-lg-9 col-md-10 mx-auto">
      <% for (let post of posts) { %>
    
      
        <div class="post-preview">
          <a href="/post/<%=post.title%>-<%=post._id%>">
            <h2 class="post-title">
                <%=post.title%>
            
            </h2>
          </a>
           <p class="post-meta">Posted by
           <a href="#"><%=post.author%></a>
           on <%= post.createdAt.toDateString() %>
       
          </p>
          <p class="post-preview" >
            <%- post.content.substring(0, 150) + " ..." %> 
            
            <em> <a href="/post/<%=post.title%>-<%= post._id %>" class="btn btn-dark btn-sm">Read more </a>
            </p> </em>
        </div>
        <hr>
        <% } %>
        
      <!-- Pagination -->
      <div class="clearfix  ">
        <div class="row">
          <div class="col-sm ">
          <% if (currentPage != 1 && previousPage != 1) { %> 
            <a class="btn btn-primary float-left ml-3 text-capitalize" href="/?page=1">newest</a>
          <% } %>
          <% if (hasPreviousPage) { %> 
            <a class="btn btn-primary float-left ml-3 text-capitalize" href="/?page=<%= previousPage %>">prev</a>
          <% } %>
            <a class="btn btn-primary float-left active ml-3 text-capitalize" href="/?page=<%= currentPage %>">current</a>
          <% if (hasNextPage) { %> 
            <a class="btn btn-primary float-left ml-3 mt-3 mt-md-0 text-capitalize" href="/?page=<%= nextPage %>">next</a>
          <% } %>
          <% if (lastPage !== currentPage && nextPage !== lastPage) { %> 
             <a class="btn btn-primary float-left ml-3 mt-3 mt-lg-0  text-capitalize" href="/?page=<%= lastPage %>">last</a>
          <% } %>
          </div>
        </div>

      </div>
    </div>
    <% } else { %>
      <h1>No Posts Found!</h1>
      <% } %>
  </div>
</div>
 
<hr>


<%- include("layouts/footer"); -%>