<%- include("../layouts/header"); -%>
<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Order</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
    <% } else { %>
        <ul class="orders">
            <% orders.forEach(order => { %>
                <li class="orders__item">
                    <h1>Order - # <%= order._id %> - <a href="/orders/<%= order._id %>">Invoice</a></h1>
                    <ul class="orders__products">
                        <% order.products.forEach(p => { %>
                            <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } %>
</main>


  <%- include("../layouts/footer"); -%>
